@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
    /* 隐藏滚动条 */
}

.markdown-box option li,
.markdown-box ul li,
.markdown-box ol li {
    list-style-type: disc;
    list-style-position: inside;
    padding-inline-start: 20px;
}

.markdown-box ol li p,
.markdown-box ul li p {
    display: inline;
}

.markdown-box ol,
.markdown-box ul {
    white-space-collapse: collapse;
    white-space: normal;
}

/* 避免主题切换导致 代码块抖动的问题，主要在于 padding: 1em，在代码块主题样式更换时，同时需要调整该内容 */
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

.journal__todo ul {
    margin-left: calc(10px * var(--level, 0)); /* 动态缩进 */
}

/* 手动设置层级 */
.journal__todo ul:nth-child(2) {
    --level: 1;
}
.journal__todo ul:nth-child(3) {
    --level: 2;
}
.journal__todo ul:nth-child(4) {
    --level: 3;
}
